.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-group-1 {
  min-height: 624px;
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-1 .u-image-1 {
  background-image: url("images/5a796b1fdc47383ec9ccc6da9e0e1b874337f71134826de37ed5c36d18a0a4379ae9b841795eb04675800a02282b7669164ab4b10ac4e93722e5fd_1280.jpg");
  background-position: 50% 50%;
  transition-duration: 0.75s;
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  font-weight: 400;
  font-size: 2.25rem;
  margin: 55px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-2 {
  background-image: none;
  transition-duration: 0.25s;
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-group-1 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}.u-section-2 .u-sheet-1 {
  min-height: 870px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url("images/Me2.jpg");
  min-height: 701px;
  transition-duration: 0.5s;
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 30px 60px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 701px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 41px 0 0 15px;
}

.u-section-2 .u-btn-1 {
  border-style: solid solid none;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: 41px auto 25px;
  padding: 13px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-2 .u-image-1 {
    min-height: 578px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-2 .u-image-1 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-2 .u-image-1 {
    min-height: 665px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2 .u-image-1 {
    min-height: 419px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(0.99) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(0.99) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.text {
}