 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1099px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 723px;
  margin: 27px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 24px 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 770px;
  grid-gap: 20px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/sr.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 375px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  margin: 112px 0 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/srmu.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 375px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  margin: 112px 0 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Angkor1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 375px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-1 .u-text-5 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  margin: 112px 0 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/neakpean.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  min-height: 375px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  margin: 112px 0 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/riv1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  min-height: 375px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-1 .u-text-7 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  margin: 112px 0 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/pubstreet.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  min-height: 375px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-1 .u-text-8 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  margin: 112px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  text-transform: none;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 36px;
  padding: 12px 33px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 634px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1115px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 9px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 60px;
  }
}